body{
    font-family: Noto Sans Mono, sans-serif;
}

.hero-parent{
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.left-hero{
    display: flex;
    width: 50%;
    background-color: #28eea7;
    background-image: linear-gradient(rgba(40, 238, 167, .80), rgba(40, 238, 167, .80)), url("../src/img/left-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.left-hero-container{
    background-image: none;
    padding-top: 120px;
    padding-bottom: 60px;
    position: static;
}

.left-hero-content{
    width: 100%;
    flex-direction: column;
    max-width: 670px;
    text-align: right;
    padding-left: 70px;
    padding-right: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.left-hero-content > h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    font-family: Noto Sans Mono, sans-serif;
    color: #363738;
}

.left-sub-h1{
    color: white;
    background-color: #363738;
    padding: 0 10px;
    font-size: 24px;
    line-height: 2.5;
}

.left-hero-content > p{
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.left-hero-content > a{
    color: white;
    background-color: #363738;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 20px;
}


.right-hero{
    width: 50%;
    background-image: linear-gradient(rgba(35, 35, 35, .80), rgba(35, 35, 35, .80)), url("../src/img/right-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #363738;
    display: flex;
    background-position: 50%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.right-hero-container{
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 60px;
    position: static;
    background-image: none;
}

.right-hero-content{
    padding-left: 50px;
    padding-right: 70px;
    text-align: left;
    width: 100%;
    flex-direction: column;
    max-width: 670px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.right-hero-content > h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    font-family: Noto Sans Mono, sans-serif;
    color: white;
}

.right-sub-h1{
    color: #363738;
    background-color: white;
    padding: 0 10px;
    font-size: 24px;
    line-height: 2.5;
}

.right-hero-content > p{
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
    color: white;
}

.right-hero-content > a{
    color: #363738;
    background-color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 20px;
    width: auto;
}

.hello-world{
    background-color: #f1f2f3;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 15%;
    padding-right: 15%;
    display: block;
}

.title-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    color: #363738;
    text-align: left;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 24px;
}

.arrow{
    display: flex;
    rotate: 270deg;
    font-size: 36px;
    padding-right: 0;
    width: 36px;
    align-items: center;
    justify-content: center;
}


.circles{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.circle1{
    background-color: #363738;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.circle2{
    background-color: #dcdee1;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.circle3{
    background-color: #28eea7;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.hello-body{
    display: flex;
    align-items: center;
    margin-top: 50px;
    box-sizing: border-box;
}

.hello-video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

iframe{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 15px solid #28eea7;
    border-radius: 20px;
}

.milestones-section{
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
}

.milestones-container{
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-flow: column wrap;
}

.mil-body{
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.mil-left{
    background-color: #f1f2f3;
    border-radius: 25px;
    align-items: flex-start;
    padding: 60px 70px;
}

.mil-left-title{
    color: #363738;
    text-align: left;
    font-size: 120px;
    font-weight: 900;
}

.mil-left-subtitle{
    color: #363738;
    text-align: left;
    font-size: 32px;
    font-weight: 900;
}

.mil-left-txt{
    color: #363738;
    align-self: stretch;
    font-size: 14px;
    line-height: 1.5;
}

.mil-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.mil-right-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}

.mil-right-up-title{
    color: #363738;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
}

.mil-right-up-sub{
    color: #363738;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.mil-right-up-1{
    border-radius: 25px;
    align-items: flex-start;
    padding: 40px;
    background-color: #f1f2f3;
}

.mil-right-up-2{
    border-radius: 25px;
    align-items: flex-start;
    padding: 40px;
    background-color: #f1f2f3;
}


.mil-right-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

.mil-right-down-1{
    border-radius: 25px;
    align-items: flex-start;
    padding: 40px;
    background-color: #f1f2f3;
}

.mil-right-down-2{
    border-radius: 25px;
    align-items: flex-start;
    padding: 40px;
    background-color: #f1f2f3;
    width: 195px;
}


.partner-section{
    padding: 70px 15%;
    display: block;
    background-color: #fcfcfd;
    margin: 0;
}

.partner-container{
    display: flex;
    flex-direction: column;
}

.partner-body{
    height: 500px;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex: 1;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
}

.partner-logo{
    display: flex;
    flex-flow: row wrap;
    row-gap: 16px;
    column-gap: 16px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

.partner-logo img{
    height: 80px;
    width: 150px;
    min-width: 80px;
    mix-blend-mode: multiply;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.news-section{
    background-color: #363738;
    padding: 70px 15%;
    margin: 0;
}

.news-container{
    height: auto;
    min-height: auto;
    margin-top: 0;
}

.news-form{
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.news-left{
    font-size: 22px;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}

.news-form-span1{
    color: #28eea7;
    font-weight: 900;
}

.news-form-span2{
    color: #a5a6a9;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.news-right{
    flex: 0 auto;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    display: flex;
    position: relative;
}

.news-right1{
    height: 45px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.news-right2{
    height: 50px;
    padding: 16px 20px;
    font-weight: 800;
    color: white;
    background-color: #232323;
    flex: 1;
    text-align: right;
    align-self: stretch;
    text-transform: uppercase;
    border: none;
    outline: none;
}

footer{
    background-color: #232323;
    margin: 0;
    font-size: 14px;
    padding: 70px 15%;
}

.footer-container{
    display: flex;
    flex-flow: column wrap;
    column-gap: 70px;
    row-gap:  70px;
}

.footer-content{
    width: 100%;
    color: #a5a6a9;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.footer-content-left{
    display: flex;
    column-gap: 70px;
    row-gap: 70px;
    flex-direction: row;
}

.footer-content-left a{
    color: #a5a6a9;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.footer-content-left1{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.footer-content-left1 div{
    color: #dcdee1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
}

.footer-content-left2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    align-self: end;
}

.footer-content-right{
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-self: stretch;
    align-items: flex-end;
}

.footer-content-right > div{
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
    margin-left: -12px;
    display: flex;
}

.footer-content-right div a{
    background-color: #a5a6a9;
    border-radius: 7px;
    margin-left: 12px;
    padding: 5px;
    max-width: 100%;
    margin-left: 20px;
}

.footer-bottom{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap-reverse;
}

.footer-copyright{
    align-items: center;
    text-align: center;
    color: #a5a6a9;
    font-size: 12px;
}

.footer-privacy a{
    color: #a5a6a9;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    align-items: center;
    text-align: center;
}
